services:
  mongo:
    image: mongo:6
    container_name: mongo
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

  backend:
    image: sujithchandran/backend-app:latest
    container_name: backend
    restart: always
    ports:
      - "8080:8080"
    environment:
      - DB_HOST=mongo
      - DB_PORT=27017
    depends_on:
      - mongo

  frontend:
    image: sujithchandran/angular-frontend:latest
    container_name: frontend
    restart: always
    ports:
      - "80:80"
    depends_on:
      - backend

volumes:
  mongo-data:
